<div class="container" style="max-width: 50em">
    <h3> Login </h3>
    <form method="POST">
    <input type="text" placeholder="Username / Email" name="login" required>
    <input type="password" placeholder="Password" name="password" required>
    <input type="submit" class="button-primary" value="Login">
</div>