<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= @title %></title>
    <link href="/cdn/cdn/milligram.css" rel="stylesheet">
    <link href="/cdn/cdn/fontawesome.css" rel="stylesheet">
</head>
<body>
    <main class="wrapper">
        <nav class="navigation" id="navigation">
            <section class="container">
                <a class="button button-clear"> Admin Panel </a>
                <div style="float: right;">
                    <a href="/" class="button button-clear"> Home </a>
                    <% if auth? %>
                        <a class="button button-clear"> <%= @user.username %> </a>
                        <a href="/logout" class="button button-clear"> Logout </a>
                    <% end %>
                </div>
            </section>
        </nav>


        <section class="container body">
            <%= yield %>
        </section>
    </main>
</body>